* {
	margin: 0px;
	padding: 0px;
}

/* 导航 */
.navbar {
	background-color: #f7b95d;
	margin-bottom: 0px;
	border-radius: 0px;
	position: fixed;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.navbar-default .navbar-brand:hover {
	background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #FFFFFF;
}

/* 内容 */
.content {
	background-color: #f9c77d;
	width: 100%;
	height: 1000px;
	padding: 0px;
	margin: 0px;
}

.information {
	height: 90%;
	background-color: #fff;
	margin: 0 auto;
	padding: 0px;
	display: flex;
	flex-direction: row;
	position: relative;
	top: 53px;
}

.information-l {
	width: 30%;
	height: 100%;
	background-color: #f7b95d;
}

.information-r {
	width: 70%;
	height: 100%;
}

.basic-b {
	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.basic-c {
	width: 100%;
	height: 5%;
	text-align: center;
	font-size: 18px;
	color: #fff;
	position: relative;
	bottom: 20px;
}

.basic-t {
	width: 100%;
	height: 65%;
}

.portrait {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background: url(../img/head.jpg) no-repeat center;
	background-size: 100%;
}

.portrait p {
	text-align: center;
	font-size: 25px;
	color: #fff;
	position: relative;
	top: 105%;
}

.basic-1 {
	margin: 0px;
	width: 100%;
	height: 210px;
	display: flex;
	flex-direction: column;
}

.md-1 {
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: row;
	padding: 0px;
}

.md-1-l {
	width: 35%;
	height: 100%;
	font-size: 15px;
	color: #3a66b5;
	text-align: right;
	background: url(../img/jbxx2.png) no-repeat;
	background-size: 25%;
	background-position: right;
}

.md-1-r {
	width: 65%;
	height: 100%;
}

.md-1-r p {
	font-size: 15px;
	color: #3e6dc1;
	margin: 5px 0px;
	font-weight: bold;
}

.md-2 {
	width: 65%;
	position: relative;
	top: 10px;
	padding: 0px;
	margin: 0 auto;
}

.md-2 .row {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.md-2 .row .col-md-12 {
	margin: 0px 0px;
}

.basic-2 {
	margin: 0px;
	width: 100%;
	height: 170px;
	display: flex;
	flex-direction: column;
}

.basic-2 .md-1 .md-1-l {
	width: 35%;
	height: 100%;
	font-size: 15px;
	color: #3a66b5;
	text-align: right;
	background: url(../img/技能标签.png) no-repeat;
	background-size: 28%;
	background-position: right;
}

.md-3 {
	padding: 0px;
	margin: 0 auto;
	width: 75%;
}

.md-3 .row {
	margin: 0px auto;
}

.md-3 .row .col-md-12 {
	width: 100%;
	height: 20px;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

.md-3 .row .col-md-12 .md-2-l {
	width: 35%;
	height: 100%;
}

.md-3 .row .col-md-12 .md-2-r {
	width: 65%;
	height: 100%;
}

.md-2-r .progress {
	width: 95%;
	margin: 6px 15px;
	height: 8px;
	background-color: #d8d8d8;
}

.bar-1 {
	width: 95%;
	background-color: #8eaadb;
}

.bar-2 {
	width: 95%;
	background-color: #8eaadb;
}

.bar-3 {
	width: 45%;
	background-color: #8eaadb;
}

.bar-4 {
	width: 50%;
	background-color: #8eaadb;
}

.bar-5 {
	width: 50%;
	background-color: #8eaadb;
}

.basic-3 {
	margin: 0px;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
}

.basic-3 .md-1 .md-1-l {
	width: 35%;
	height: 100%;
	font-size: 15px;
	color: #3a66b5;
	text-align: right;
	background: url(../img/爱好.png) no-repeat;
	background-size: 40%;
	background-position: right;
}

.basic-3 .md-4 {
	width: 60%;
	padding: 0px;
	margin: 0 auto;
	height: 50%;
}

.row-l {
	margin: 0px;
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: row;
}

.row-r {
	margin: 0px;
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: row;
}

.md-4-l {
	padding: 0px;
	width: 50%;
	height: 100%;
	background: url(../img/跑步.png) no-repeat center;
	background-size: 50%;
}

.md-4-r {
	padding: 0px;
	width: 50%;
	height: 100%;
	background: url(../img/音乐.png) no-repeat center;
	background-size: 45%;
}

.md-5-l {
	padding: 0px;
	width: 50%;
	height: 100%;
	background: url(../img/餐具.png) no-repeat center;
	background-size: 50%;
}

.md-5-r {
	padding: 0px;
	width: 50%;
	height: 100%;
	background: url(../img/电视.png) no-repeat center;
	background-size: 50%;
}

/* 左边内容 */
/* 评价 */
.evaluate {
	width: 100%;
	height: 25%;
}

.evaluate-b {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
}

.pj-l {
	width: 50%;
	height: 100%;
	background: url(../img/个人.png) no-repeat;
	background-position: right;
	background-size: 10%;
}

.pj-r {
	width: 50%;
	height: 100%;
	font-size: 18px;
	color: #3e6dc1;
	margin: 22px 0px 0px 10px;
	font-weight: bold;
	font-family: 阿里汉仪智能黑体;
}

.evaluate-t {
	width: 100%;
	font-size: 18px;
	height: 65%;
}

/* 项目经历 */
.project {
	width: 100%;
	height: 27%;
}

.project-b {
	width: 100%;
	height: 24%;
	display: flex;
	flex-direction: row;
}

.project-t {
	width: 100%;
	font-size: 18px;
	height: 80%;
}

.jl-r {
	width: 50%;
	height: 100%;
	font-size: 18px;
	color: #3e6dc1;
	margin: 17px 0px 0px 10px;
	font-weight: bold;
	font-family: 阿里汉仪智能黑体;
}

/* 教育背景 */
.education {
	width: 100%;
	height: 15%;
}

.education-b {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
}

.education-t {
	width: 100%;
	font-size: 18px;
	height: 70%;
}

.jy-l {
	width: 50%;
	height: 100%;
	background: url(../img/教育.png) no-repeat;
	background-position: right;
	background-size: 10%;
}

.jy-r {
	width: 50%;
	height: 100%;
	font-size: 18px;
	color: #3e6dc1;
	margin: 10px 0px 0px 10px;
	font-weight: bold;
	font-family: 阿里汉仪智能黑体;
}

/* 奖励证书 */
.jl-l {
	width: 50%;
	height: 100%;
	background: url(../img/公文包.png) no-repeat;
	background-position: right;
	background-size: 10%;
}

.reward {
	width: 100%;
	height: 15%;
}

.reward-l {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
}

.zs-l {
	width: 50%;
	height: 100%;
	background: url(../img/奖杯.png) no-repeat;
	background-position: right;
	background-size: 10%;
}

.zs-r {
	width: 50%;
	height: 100%;
	font-size: 18px;
	color: #3e6dc1;
	margin: 5px 0px 0px 8px;
	font-weight: bold;
	font-family: 阿里汉仪智能黑体;
}

.reward-r {
	width: 100%;
	font-size: 18px;
	height: 70%;
}

/* 主修课程 */
.curriculum {
	width: 100%;
	height: 15%;
}

.curriculum-l {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
}

.kc-l {
	width: 50%;
	height: 100%;
	background: url(../img/书.png) no-repeat;
	background-position: right;
	background-size: 10%;
}

.kc-r {
	width: 50%;
	height: 100%;
	font-size: 18px;
	color: #3e6dc1;
	margin: 8px 0px 0px 10px;
	font-weight: bold;
	font-family: 阿里汉仪智能黑体;
}

.curriculum-r {
	width: 100%;
	font-size: 18px;
	height: 70%;
}

.hr1 {
	border-top: 1px solid #090909;
	margin: 35px 0px 0px 20px;
	width: 80%;
}

.hr2 {
	border-top: 1px solid #090909;
	width: 70%;
	margin: -13px 0px 0px 78px;
}

.hr3 {
	border-top: 1px solid #090909;
	width: 80%;
	margin: 30px 0px 0px 20px;
}

.hr4 {
	border-top: 1px solid #090909;
	width: 80%;
	margin: 21px 0px 0px 25px;
}

/* 我的作品 */
.works {
	width: 100%;
	height: 100%;
	background-color: #f9c77d;
}

.works-container {
	height: 100%;
}

.tab-content>.tab-pane {
	display: inherit;
}

.tab-pane {
	width: 100%;
	height: 83%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tab-pane-home {
	width: 33%;
	height: 100%;
	float: left;
}

.tab-pane-home img {
	width: 100%;
}
